.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.theImg{
  width: 100%;
}

.theImg{
  width: 100%;
}

.test{
  position:absolute;
  border: 1px rgb(255, 0, 64) double;
  background-color: rgba(127, 178, 255, 0.219);
}



.pictureContainer{
  position:absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultat_finale{
  padding: 2em;
}

.text-center {
  text-align: center;
}